--trusted-host=pypi.org
--trusted-host=files.pythonhosted.org
--find-links=https://pypi.python.org/simple/
Babel
Bottleneck
GitPython
Jinja2
Markdown
MarkupSafe
Paste
PasteDeploy
Pillow
PyWavelets
PyYAML
Pygments
Send2Trash
WebOb
Werkzeug
ZConfig
absl-py
addict
anyio
argon2-cffi-bindings
argon2-cffi
asttokens
attrs
backcall
basicsr
beautifulsoup4
bleach
blis
bobo
build
cachetools
catalogue
certifi
cffi
charset-normalizer
click
cycler
cymem
debugpy
decorator
defusedxml
dlib
docker-pycreds
easydict
entrypoints
executing
facexlib
fastai
fastapi[all]
fastjsonschema
fastprogress
ffmpeg-python
filterpy
fonttools
future
gevent
gitdb
google-auth-oauthlib
google-auth
grpcio
idna
imageio
importlib-metadata
importlib-resources
ipykernel
ipython-genutils
ipython
jedi
json5
jsonschema
jupyter-client
jupyter-core
jupyter-server
jupyterlab-pygments
jupyterlab-server
jupyterlab
kiwisolver
kubernetes
langcodes
llvmlite
lmdb
lxml
matplotlib-inline
matplotlib
mistune
murmurhash
nbclient
nbconvert
nbformat
nest-asyncio
networkx
notebook-shim
numba
numexpr
numpy
nvidia-ml-py3
oauthlib
opencv-python
packaging
pandas
pandocfilters
pathtools
pathy
pep517
pexpect
pickleshare
pkgutil_resolve_name
ppgan==2.1.0
preshed
prometheus-client
promise
prompt-toolkit
protobuf
psutil
ptyprocess
pure-eval
pyasn1-modules
pyasn1
pycparser
pydantic
pyparsing
pyrsistent
pytest
pytest-mock
python-dateutil
pytz
pyzmq
requests-oauthlib
requests
rsa
scikit-image
scipy
sentry-sdk
setproctitle
shortuuid
six
smart-open
smmap
sniffio
soupsieve
spacy-legacy
spacy-loggers
spacy
srsly
stack-data
tb-nightly
tensorboard-data-server
tensorboard-plugin-wit
tensorboardX
terminado
thinc
tifffile
tinycss2
tornado
tqdm
traitlets
typer
typing_extensions
urllib3
waitress
wasabi
wcwidth
webencodings
websocket-client
yapf
youtube-dl
zc.buildout==3.0.1
zc.recipe.deployment
zc.recipe.egg
zc.wsgirunner
zc.zdaemonrecipe
zipp
xonsh[full]
